<main id="pages-index">

    <h1> All the spells </h1>
    <section class="card-deck">
    <%spells.each do |spell|%>
        <div class="card <%=spell[:category]%>">
            <h5><%=spell[:name]%></h5>
            <p><%=spell[:description]%></p>
            <%= link_to "See More", spell_path(spell[:id])%>
        </div>
        <%end%>
        
    </section>
    

</main>
