<main id="pages-show">
    <h1 class="<%=@spell[:type]%>"><%=@spell[:name]%></h1>
    <section class="spell-content"> 
        <h2>Type: <%=@spell[:type].capitalize%></h2>
        <p><%=@spell[:description]%> </p>
    </section>
</main>